@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default theme */
  --background: rgb(221, 221, 255);
  --foreground: rgb(0, 0, 0);
}
.dark {
  --background: rgb(0, 5, 20);
  --foreground: rgb(221, 221, 255);
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

h1,
h2,
h3,
h4 {
  margin: 0.1rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
  font-style: italic;
}
